.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  color: white;
}
.cell {
  border-radius: 2px;
  border-width: 5px;
  border-style: outset;
}
.air {
  background-color: black;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.air:last-child {
  border-right: 1px solid white;
}
.brick {
  background-color: #61cbcf;
}
.status {
  position: absolute;
  left: 10%;
  right: 10%;
  text-align: center;
  width: 80%;
  font-family: "Tetris Mania Type", sans-serif;
  color: white;
  z-index: 100;
}
