.background {
  padding: 10%;
  padding-right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  color: white;
}
.cell {
  min-width: 35px;
  min-height: 35px;
  border-radius: 2px;
  border-width: 5px;
  border-style: outset;
}
.air {
  min-width: 35px;
  min-height: 35px;
  background-color: black;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.air:last-child {
  border-right: 1px solid white;
}
.brick {
  background-color: #61cbcf;
}
